<!-- Banner -->
  <div class="container-fluid banner mt-2 ">


    <div class="row">




    <div class="container">

      <div class="row">




        <div class="col-md-12 col-lg-6 d-flex align-items-center ">
          <div class="mt-5 mt-lg-0">

<div class="bannerstrip col-lg-9 col-md-6 col-12 px-0 py-0"><img src="../assets/images/banneiicon.png">&nbsp;#1 Editiors Choice App of 2020</div>
<div class="bannerheading">Best app for your
 modern lifestyle </div>



<div class="bannerbtmtxt mt-2">Increase productivity with a simple to-do app. app for
  managing your personal budgets.   </div>


  <div class="mt-5 col-12 pl-lg-0"> <a class="sitebtn" href="#"> Try for free</a> &nbsp; &nbsp;<a class="demobtn" href="#"> Watch demo video</a></div> 



          </div>

        </div>


        <div class="col-md-12 col-lg-6">

<div class="text-center col-md-12">

  <img class="bannermobileimg vert-move mt-5 mt-lg-0"src="../assets/images/bannermobile.png">

</div>
        </div>






      </div>



    </div>




  </div>
  
  </div>

  <!-- Banner -->
  
  
  <!-- Companies -->
  
  
  <div class="container companysection">
  
  
  
  <div class="row">
  
  <div class="col-md-12 trustedtxt text-center mb-5">Trusted by companies like </div>
  
  
  </div>
  
  
  
    <div class="row">
  
  <div class="col d-flex align-items-center justify-content-center mb-3">
  
  <img src="../assets/images/company1.png">

  </div>
  
    <div class="col d-flex align-items-center justify-content-center mb-3">
  
  <img src="../assets/images/company2.png">

  </div>
  
    <div class="col d-flex align-items-center justify-content-center mb-3">
  
  <img src="../assets/images/company3.png">

  </div>
  
    <div class="col d-flex align-items-center justify-content-center mb-3">
  
  <img src="../assets/images/company4.png">

  </div>
  
    <div class="col d-flex align-items-center justify-content-center mb-3">
  
  <img src="../assets/images/company5.png">

  </div>
  
  
  </div>
  
  
  
  
  
  
  </div>






<!-- Companies -->


<!-- features -->
  
  
  <div class="container featuresection">
  
  
  

      <div class="row">


	  
	  
	  
	  
	          <div class="col-md-12 col-lg-6 align-items-center d-flex">

<div class="text-center col-md-12 ">

  <img class=" mt-5 mt-lg-0 w-100 vert-move" src="../assets/images/featureimg.png">

</div>
        </div>
	  
	  
	  
	  
	  
	  
	  
	  


        <div class="col-md-12 col-lg-6">
		
		<div class="featureheadtxt">Awesome apps<br>
features  </div>

	<div class="featureptxt mt-3 mb-5">Increase productivity with a simple to-do app. app for<br>
managing your personal budgets.  </div>


<div class="media align-items-center mb-5">
  <img src="../assets/images/featureicon1.png" class="mr-3" >
  <div class="media-body">
    <div class="featureiconheadtxt featurecolortxt1 mb-2">Fast Performance</div>
   <span class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </span>
  </div>
</div>


<div class="media align-items-center mb-5">
  <img src="../assets/images/featureicon2.png" class="mr-3" >
  <div class="media-body">
    <div class="featureiconheadtxt featurecolortxt2 mb-2">Prototyping</div>
   <span class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </span>
  </div>
</div>


<div class="media align-items-center mb-5">
  <img src="../assets/images/featureicon3.png" class="mr-3" >
  <div class="media-body">
    <div class="featureiconheadtxt featurecolortxt3 mb-2">Vector Editing</div>
   <span class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </span>
  </div>
</div>
        

        </div>




      </div>
  
  
   </div>

<!-- features -->



<!-- jackpotssection -->
  
  
  <div class="container jackpotssection">
  
  
  
    <div class="row justify-content-center"> 
  
  
  
  
  <div class="col-md-10 "> 
  

      <div class="row   ">


	  
	          <div class="col-md-12 col-lg-6  jackpotborder">

<div class="headtxt"> Smart jackpots that<br>
you may love this<br>
anytime & anywhere </div>
        </div>
		
		
		
		
	          <div class="col-md-12 col-lg-6 d-flex align-items-center">

<div class="jackpotptxt px-lg-3"> The rise of mobile devices transforms the way we
consume information entirely and the world's most
elevant channels such as Facebook.  </div>
        </div>
	  

</div>


</div>


</div>



</div>

<!-- jackpotssection -->

	<!-- jackpotsubsection -->
	
	
	<div class="container jackpotsubsection">
  
  
<div class="row justify-content-center"> 
  
  
  
  
  <div class="col-md-10 "> 
  
  
    <div class="row"> 
	
	
	
		<div class="col-md-4"> 
	
	<div class="imgpad"><img src="../assets/images/smarticon11.png"></div>
	
	    <div class="jackpotsubheadtxt featurecolortxt1 mb-2">Automatic Payouts</div>
   <div class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad"><img src="../assets/images/smarticon2.png"></div>
	
	    <div class="jackpotsubheadtxt featurecolortxt2 mb-2">Network Effect</div>
   <div class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad"><img src="../assets/images/smarticon3.png"></div>
	
	    <div class="jackpotsubheadtxt featurecolortxt3 mb-2">Bigger Rewards Method</div>
   <div class="paratxt"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	

	
	</div>
	
		</div>
		
			</div>

	</div>
	
		<!-- jackpotsubsection -->
		
		
		
		<!-- integration -->
		
		<div class="container-fluid border-bottom">
  
  
  <div class="container integrationsection">
  

      <div class="row">


	  
	          <div class="col-md-12 col-lg-6 align-items-center d-flex">

<div class="text-center col-md-12 ">

  <img class=" mt-5 mt-lg-0 w-100 vert-move" src="../assets/images/integration.png">

</div>
        </div>
	  
	  

        <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center">
		
		<div>
		
		<div class="headtxt mb-3">Designed & built by<br>
the latest code<br>
integration  </div>

	<div class="paratxt">The rise of mobile devices transforms the way we<br>
consume information entirely and the world's most<br>
elevant channels such as Facebook.   </div>

<div class="mt-5"><a class="sitebtn " href="#"> Learn more </a></div>

</div>

        </div>




      </div>
  
  
   </div>
   
      </div>

<!-- integration -->


	<!-- chooseapp section -->
<div class="container appsection">

<div class="row"> 
<div class="col-md-12">

<div class="headtxt text-center mb-3">Why you should choose<br>
our app </div>

<div class="paratxt text-center">The rise of mobile devices transforms the way we consume information entirely<br>
and the world's most elevant channels such as Facebook.    </div>

</div>

<div></div>

</div>

</div>		
		
	<!-- chooseapp section -->

	
			<!-- choose our app subsection -->
			
			

	<div class="container appsubsection">
  
  
<div class="row justify-content-center"> 
  
  
  
  
  <div class="col-md-10 "> 
  
  
    <div class="row"> 
	
	
	
		<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/appicon.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center mb-2">Automatic Payouts</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/trophy.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center mb-2">Network Effect</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/cloud.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center  mb-2">Bigger Rewards Method</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	

	
	</div>
	
				    <div class="row mt-5"> 
	
	
	
		<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/customization.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center mb-2">Automatic Payouts</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/uxicon.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center mb-2">Network Effect</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	
	<div class="col-md-4"> 
	
	<div class="imgpad text-center"><img src="../assets/images/customericon.png"></div>
	
	    <div class="jackpotsubheadtxt appheadtxtcolor text-center  mb-2">Bigger Rewards Method</div>
   <div class="paratxt text-center"> Get your blood tests delivered at<br>
home collect a sample from the       <br>
news your blood tests. </div>
	
	
	
	
	</div>
	
	

	
	</div>
	
	
	
	
		</div>
		
			</div>
			
			

	
		</div>
		
