
/* navbar */



.navbar-brand{
font-size:30px;
    font-family: 'Poppins-Bold';
}
.logocolor1{
    color: #fcae61 ;
}

.logocolor2{
    color: #242f51;
}

.navbar-toggler-icon {
    background-image: url("../images/navicon.png") !important;
    width: 1em !important;
    height: 1em !important;
}

.navbar-toggler {
    color: #fcae61 !important;
    border-color: #fcae61 !important;
}
.navbar-toggler {

    border: 3px solid #fcaf8a !important;

}

.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none !important;
 outline: none !important;
}

.nav-link,.nav-link:hover{
    color: #242f51; 
    
 font-size: 16px;
}

.navbtn, .navbtn:hover{
    color:#fff;
     background:#2500f9 !important;
    font-size:16px;
     font-family: 'Poppins-Medium';
     border-radius: 30px;
}

.sitebtn, .sitebtn:hover{
    color:#fff;
     background:#2500f9 !important;
    font-size:16px;
     font-family: 'Poppins-Medium';
     border-radius: 30px;
}





/* navbar */


